@model AcunMedyaTravelProject.Entities.Country
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Ülke Güncelle";
}

<h2>Ülke Güncelle</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>Ad</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Görsel URL</label>
        <input asp-for="ImageUrl" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
