@model AcunMedyaTravelProject.Entities.About

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "About Güncelle";
}

<h2>About Güncelle</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>Ad</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
