@model AcunMedyaTravelProject.Entities.Destination
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var countries = ViewBag.Countries as List<AcunMedyaTravelProject.Entities.Country>;
    ViewBag.Title = "Şehir Güncelle";
}

<h2>Şehir Güncelle</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>Şehir Adı</label>
        <input asp-for="CityName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Görsel URL</label>
        <input asp-for="CoverImageUrl" class="form-control" />
    </div>
    <div class="form-group">
        <label>Ülke</label>
        <select asp-for="CountryId" class="form-control">
            <option value="">Ülke seçin</option>
            @foreach (var item in countries)
            {
                <option value="@item.Id" selected="@(item.Id == Model.CountryId)">
                    @item.Name
                </option>
            }
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
